//please put the paths as per yours project directory structure
@import "../../node_modules/materialize-css/sass/components/color-variables";

$primary-color: color("blue", "lighten-2") !default;
$secondary-color: green !default;
@import '../../node_modules/materialize-css/sass/materialize';

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
